* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 95vw;
  margin: 0 auto;
  text-align: justify;

  .post {
    border: 2px black solid;
    margin: 2rem;
    padding: 1rem;
  }
  .toggleCommentsButton {
    margin: 0.5rem 0;
    padding: 0.2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
    color: black;
    }
  }

  .comments {
    border: 2px black solid;
    margin: 0.5rem 0;
    padding: 0.5rem;
    word-wrap: break-word;
    color: black;
  }
 .addCommentButton {
  margin: 0.5rem 0;
    padding: 0.2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
    color: black;
    }
 }

 textarea {
  width: 100%;
  resize: none;
  
 }
  .displayNone {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  body,
  html {
    width: 90vw;
  }
}
@media only screen and (min-width: 768px) {
  body,
  html {
    width: 80vw;
  }
}
@media only screen and (min-width: 992px) {
  body,
  html {
    width: 60vw;
  }
}
@media only screen and (min-width: 1200px) {
  body,
  html {
    width: 50vw;
  }
}
